.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1;
}

.app-login {
  color: $grey-dark;
}

@media (min-width: 769px) {
  .app-login {
    padding-top: 8rem;
  }
}

.app-login-box {
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 4.5rem;
  text-align: center;
  & .title {
    font-weight: 800;
  }
}

.app-login-description {
  color: $grey-light;
  font-size: 1.15rem;
  margin: 1rem 0;
}

/* Modal effect */
.modal {
  display: flex;
  visibility: hidden;
}

.modal.is-active {
  visibility: visible;
}

.modal-fx-fade .modal-background {
  opacity: 0;
  transition: opacity .3s;
}

.modal-fx-fade.is-active .modal-background {
  opacity: 1;
}

.modal-fx-fade .modal-card {
  opacity: 0;
  transform: scale(1.25);
  transition: all .3s;
}

.modal-fx-fade.is-active .modal-card {
  opacity: 1;
  transform: scale(1);
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

.fx-fade {
  display: none;
}

.fx-fade.is-active {
  display: block;
}

/* Loading */
@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.app-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fafafa;
}

.app-loading-item,
.app-loading-item:before,
.app-loading-item:after {
  border-radius: 50%;
}

.app-loading-item {
  color: $link;
  text-indent: -99999em;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  transform: translateZ(0);
}

.app-loading-item:before,
.app-loading-item:after {
  content: " ";
  position: absolute;
}

.app-loading-item:before {
  width: 5.2em;
  height: 10.2em;
  background: #fafafa;
  border-radius: 10.2em 0 0 10.2em;
  top: -.1em;
  left: -.1em;
  transform-origin: 5.2em 5.1em;
  animation: loading 2s infinite ease 1.5s;
}

.app-loading-item:after {
  width: 5.2em;
  height: 10.2em;
  background: #fafafa;
  border-radius: 0 10.2em 10.2em 0;
  top: -.1em;
  left: 5.1em;
  transform-origin: 0 5.1em;
  animation: loading 2s infinite ease;
}
