/* TODO custom media */
@custom-media --viewport-tablet (min-width: 769px);

:root {
  --login-color: hsl(166, 67%, 51%);
  --bg:          rgb(247, 247, 247);
  --text-dark:   hsla(0, 0%, 0%, 0.66);
  --text-light:  hsla(0, 0%, 0%, 0.33);
}

.app-login {
  color: var(--text-dark);
}

@media (min-width: 769px) {
  .app-login {
    padding-top: 8rem;
  }
}

.app-login-box {
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 4.5rem;
  text-align: center;
  /* 嵌套规则需要在 postcss.config.js 里开启 */
  & .title {
    font-weight: 800;
  }
}

.app-login-description {
  color: var(--text-light);
  font-size: 1.15rem;
  margin: 1rem 0;
}
